<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./index.css">
    </head>

    <body>

        <main>

            <header>
                <h1>
                    <sup>&copy;</sup>&nbsp;
                    Terminal Ipsum
                </h1>
                <h2>
                    [<span class="version"></span>]
                </h2>
            </header>

            <ul class="terminal-list">

                <li class="terminal-item">
                    <section>
                        <label for="command">
                            <span class="cwd">
                            </span>
                        </label>
                        <input
                            type="text"
                            name="command"
                            id="command"
                            autocomplete="off"
                            autofocus="on"
                            spellcheck="false"
                        >
                    </section>
                </li>

            </ul>

        </main>

        <script src="./js/commands-history.js"></script>

        <script src="./js/terminal.js"></script>

        <script src="./js/index.js"></script>

    </body>
</html>